{% extends "base.html" %}
{% block heading %}
    Create Product
{% endblock %}
{% block subheading %}
    Create a product and assign starting inventory. Note in order to create
    a product, at least one warehouse should be available.
{% endblock %}
{% block main %}
    <section style="margin-top: 10px; text-align: center">
        <div style="display: inline">
            <a class="button" href="{{ url_for('viewProducts') }}"> View Products </a>
            <a class="button" href="{{ url_for('viewLocations') }}"> View Locations </a>
            <a class="button" href="{{ url_for('createWarehouse') }}"> Create Warehouse </a>
        </div>
        <br>
    </section>
    <section style="margin-left: 30px; margin-right: 1200px; margin-top: 30px">
        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="notification is-danger">
                    {{ message[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <div class="content is-normal">
            <h1> Product Details </h1>
        </div>
        <form action="{{ url_for("createProduct") }}" method="post">
            <div class="field">
                <label class="label"> Product Name (250 Max)</label>
                <div class="control">
                    <input required class="input" type="text" maxlength="250" name="productName">
                </div>
                <br>
                <label class="label"> Price (in $) </label>
                <div class="control">
                    <input required class="input" type="number" step="any" name="productPrice">
                </div>
                <br>
                <label class="label">Choose a warehouse:</label>
                <div class="select is-fullwidth">
                    <select name="selected_warehouse" id="selected_warehouse">
                        {% for i in contents %}
                            <option value="{{ i.warehouse_id }}"> {{ i.warehouse_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <br>
                <label class="label"> Enter Qty </label>
                <div class="control">
                    <input required class="input" type="number" step="any" name="productQty">
                </div>
                <br>
                <div style="margin-bottom: 200px">
                    <input class="button" type="submit" value="Submit">
                    <br>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
