{% extends "base.html" %}
{% block heading %}
    Add Warehouse
{% endblock %}
{% block subheading %}
    Create a warehouse below. Warehouses are used to store products and can be
    assigned while creating and managing products.
{% endblock %}
{% block main %}
    <section style="margin-left: 30px">
        <form action="{{ url_for("createWarehouse") }}" method="post">
            <label> Warehouse Name (250 Max)</label>
            <br>
            <input type="text" maxlength="250" name="warehouseName">
            <br>
            <label> Warehouse Address (750 Max)</label>
            <br>
            <input type="text" maxlength="750" name="warehouseLocation">
            <br>
            <input class="button" type="submit" value="Submit">
        </form>
    </section>
{% endblock %}
