{% extends "base.html" %}
{% block heading %}
    Add Warehouse
{% endblock %}
{% block subheading %}
    Create a warehouse below. Warehouses are used to store products and can be
    assigned while creating and managing products.
{% endblock %}
{% block main %}
    <section style="margin-top: 10px; text-align: center">
        <div style="display: inline">
            <a class="button" href="{{ url_for('createProduct') }}"> Create Product </a>
            <a class="button" href="{{ url_for('viewProducts') }}"> View Products </a>
            <a class="button" href="{{ url_for('viewLocations') }}"> View Locations </a>
        </div>
        <br>
    </section>
    <section style="margin-left: 30px; margin-right: 1200px; margin-top: 30px">
        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="notification is-danger">
                    {{ message[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for("createWarehouse") }}" method="post">
            <div class="field">
                <label class="label"> Warehouse Name (250 Max)</label>
                <div class="control">
                    <input required class="input" type="text" maxlength="250" name="warehouseName">
                </div>
                <br>
                <label class="label"> Warehouse Address (750 Max)</label>
                <div class="control">
                    <input required class="input" type="text" maxlength="750" name="warehouseLocation">
                </div>
                <br>
                <div class="control">
                    <input class="button" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </section>
{% endblock %}
