{% extends "base.html" %}
{% block heading %}
    View and Manage Locations
{% endblock %}
{% block subheading %}
    Here you can view and manage all your locations.
{% endblock %}
{% block main %}
    <form action="{{ url_for('updateWarehouse') }}" method="post">
        <section style="margin-top: 10px; margin-left: 30px; margin-right: 1200px">
            <div class="content is-normal">
                <h1> Warehouse Details </h1>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input name="w_name" class="input" type="text" placeholder="{{ content.warehouse_name }}" value="{{ content.warehouse_name }}">
                </div>
                <br>
                <label class="label">Address</label>
                <div class="control">
                    <input name="w_address" class="input" type="text" placeholder="{{ content.warehouse_address}}" value="{{ content.warehouse_address }}">
                </div>
                <br>
                <br>
                <div class="content is-normal">
                    <h2> Inventory </h2>
                </div>
            </div>
        </section>
        <br>
        <section>
            <div style="margin-left: 30px">
                <table class="table is-hoverable">
                    <thead>
                    <tr>
                        <th> Product </th>
                        <th> Available Qty </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for name, value in w_products.items() %}
                        <tr>
                            <td style="vertical-align: middle"> {{ name }} </td>
                            <td style="vertical-align: middle"> <input name="{{ name }}_qty" class="input" type="number" placeholder="{{ value }}" value="{{ value }}"> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <br>
    <br>
    <div style="display: inline">
        <input style="margin-left: 30px" class="button" type="submit" value="Submit">
        <a class="button" href="{{ url_for('viewLocations') }}"> Back </a>
    </div>
    </form>
{% endblock %}
