{% extends "base.html" %}
{% block heading %}
    View and Manage Locations
{% endblock %}
{% block subheading %}
    Here you can view and manage all your warehouses/locations.
{% endblock %}
{% block main %}
    <section style="margin-top: 10px; text-align: center">
        <div style="display: inline">
            <a class="button" href="{{ url_for('createProduct') }}"> Create Product </a>
            <a class="button" href="{{ url_for('createWarehouse') }}"> Create Warehouse </a>
        </div>
        <br>
    </section>
    <section style="text-align: center">
        <div style="margin: 30px 50px 200px 30px;">
            {% with message = get_flashed_messages() %}
                {% if message %}
                    <div class="notification is-success">
                        {{ message[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th> Name </th>
                    <th> Address </th>
                    <th> Available Products </th>
                    <th> Actions </th>
                </tr>
                </thead>
                <tbody>
                {% for row in contents %}
                    <tr>
                        <td style="vertical-align: middle"> {{ row.warehouse_name }} </td>
                        <td style="vertical-align: middle"> {{ row.warehouse_address }} </td>
                        <td style="vertical-align: middle"> {{ row.warehouse_products|length }} </td>
                        <td style="vertical-align: middle"> <a href="{{ url_for('editWarehouse', w_id=row.warehouse_id) }}"> Edit </a>  |  <a href="{{ url_for('deleteWarehouse', object_key= row.warehouse_id) }}"> Delete </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
